@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}


.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #cfd0d1;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content li a {
  color:white;
}
#home-search{
  padding: 20px 30px;
  width: 400px;
  border: none;
  border-radius:10px;
  margin: 10px 10px 10px 0px;
}
#button-submit{
  padding:  10px 20px;
  color: #fff;
  /* background-image: none; */
  background-color: #6372ff;
}
#button-submit:hover{
  background-color: #808bec;
}
@media screen and (max-width: 400px) {
  #home-search{
    /* padding: 20px 30px; */
    width: 200px;
    /* border: none; */
    /* border-radius:10px; */
    /* margin: 10px 10px 10px 0px; */
  }
  #button-submit{
    padding:  10px 20px;
    color: #fff;
    /* background-image: none; */
    background-color: #6372ff;
    /* width: ; */
  }
 
}